{{>layouts/header}}

<div class="starter-template">
    <div class="container-head-title">
        <h1>플레이어 목록</h1>
    </div>
    <div class="container-head-menu mb-3">
            <button class="btn btn-primary" id="movePlayerSavePage">플레이어 추가</button>
    </div>

    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>No</th>
                    <th>닉네임</th>
                    <th>메인포지션</th>
                    <th>서브포지션</th>
                    <th>탑티어</th>
                    <th>비매너 지수</th>
                    <th>선택</th>
                </tr>
                </thead>
                <tbody id="playerListDiv">

                </tbody>
            </table>
        </div>

        <div class="container">
            <h3>선택된 플레이어</h3>
            <div class="form-group" id="selectedPlayerListDiv">

            </div>
        </div>
    </div>
</div>

<script src="/js/player.js"></script>
<script>
    $(document).ready(function(){
       main.getPlayerList();
    });
</script>
{{>layouts/footer}}