{{>layouts/header}}

<div class="starter-template">
    <div class="container-head-title">
        <h1>플레이어 목록</h1>
    </div>
    <div class="container-head-menu mb-3">
            <button class="btn btn-primary" id="movePlayerSavePage">플레이어 추가</button>
    </div>

    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>No</th>
                    <th>닉네임</th>
                    <th>메인포지션</th>
                    <th>서브포지션</th>
                    <th>탑티어</th>
                    <th>비매너 지수</th>
                    <th>선택</th>
                </tr>
                </thead>
                <tbody id="playerListDiv">

                </tbody>
            </table>
        </div>

        <div class="container">
            <div class="form-group" id="selectedPlayerListDiv">
                <h3>선택된 플레이어</h3>

            </div>
            <div class="form-group" id="teamResultDiv" style="display: none;">
                <h3>결과</h3>
                <div class="row">
                    <div class="col-md-6" id="teamAResultDiv">
                        <span id="teamADesc">team A</span>
                        <table class="table table-striped table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th>닉네임</th>
                                    <th>메인 포지션</th>
                                    <th>평가 점수</th>
                                </tr>
                            </thead>
                            <tbody id="teamAList">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6" id="teamBResultDiv">
                        <span id="teamBDesc">team A</span>
                        <table class="table table-striped table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th>닉네임</th>
                                    <th>메인 포지션</th>
                                    <th>평가 점수</th>
                                </tr>
                            </thead>
                            <tbody id="teamBList">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-warning" id="makeTeamButton">팀 만들기</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/player.js"></script>
<script>
    let selectedPlayerList = [];
    $(document).ready(function(){
       main.getPlayerList();
    });
</script>
{{>layouts/footer}}