{{>layouts/header}}
<div class="container starter-template" id="inputDiv">
    <h3>플레이어 목록</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nickname</th>
                <th scope="col">Position</th>
                <th scope="col">Top tier</th>
            </tr>
        </thead>
        <tbody id="playerList">
            {{#players}}
                <tr>
                    <th><input type="checkbox" name="player" value="{{id}}"
                            data-name="{{playerName}}"
                            data-position="{{position}}"
                            data-tier="{{tier}}"
                        >
                    </th>
                    <td><span>{{playerName}}</span></td>
                    <td><span>{{position}}</span></td>
                    <td><span>{{tier}}</span></td>
                </tr>
            {{/players}}
        </tbody>
    </table>
    <div class="form-row" style="border: black solid 1px; padding: 5px; margin-bottom: 5px;">
        <h5>팀 생성 조건 선택</h5>
        <div class="form-group col-md-2">
            <label for="conditionBattle">피튀기는 내전</label>
            <input type="radio" name="inputCondition" id="conditionBattle" value="battle">
        </div>
        <div class="form-group col-md-2">
            <label for="conditionFun">피안튀기는 내전</label>
            <input type="radio" name="inputCondition" id="conditionFun" value="condition" selected>
        </div>
    </div>
    <button class="btn btn-success" type="button" id="makeBtn">팀 만들기</button>
    <button class="btn btn-dark" type="button" id="insertBtn">플레이어 등록</button>
</div>
<script >
    $(document).ready(function (){
        $("#insertBtn").on("click", function (){
            location.href="/maker/player/insert";
        });
    });
</script>
{{>layouts/footer}}