{{>layouts/header}}
<div class="container starter-template">
    <h3>플레이어 등록</h3>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputName">이름</label>
                <input type="text" class="form-control" id="inputName">
            </div>
            <div class="form-group col-md-2">
                <label for="inputPosition">포지션</label>
                <select id="inputPosition" class="form-control">
                    <option selected>Choose...</option>
                    <option value="top">탑</option>
                    <option value="jungle">정글</option>
                    <option value="apcarry">미드</option>
                    <option value="adcarry">원딜</option>
                    <option value="supporter">서폿</option>
                    <option value="allrounder">올라운더</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputTier">티어</label>
                <select id="inputTier" class="form-control">
                    <option selected>Choose...</option>
                    <option value="iron">아이언</option>
                    <option value="bronze">브론즈</option>
                    <option value="silver">실버</option>
                    <option value="gold1">골드1</option>
                    <option value="gold2">골드2</option>
                    <option value="gold3">골드3</option>
                    <option value="gold4">골드4</option>
                    <option value="platinum1">플래티넘1</option>
                    <option value="platinum2">플래티넘2</option>
                    <option value="platinum3">플래티넘3</option>
                    <option value="platinum4">플래티넘4</option>
                    <option value="diamond1">다이아몬드1</option>
                    <option value="diamond2">다이아몬드2</option>
                    <option value="diamond3">다이아몬드3</option>
                    <option value="diamond4">다이아몬드4</option>
                </select>
            </div>
        </div>

    <button class="btn btn-success" type="button" id="insertBtn">등록</button>
    <button class="btn btn-danger" type="button" onclick="location.href='/maker/player/list'">취소</button>
</div>
<script>
    $(document).ready(function() {

        $("#insertBtn").on("click", function () {
            let name = $("#inputName").val();
            let position = $("#inputPosition").val();
            let tier = $("#inputTier").val();

            //TODO parameter validation

            let player = {
                "playerName": name,
                "position": position,
                "tier": tier
            }

            $.ajax({
                url: "/maker/player/insert",
                method: "post",
                contentType: "application/json;  charset=utf-8",
                data: JSON.stringify(player),
                success: function (result) {

                },
                error: function (x) {
                    console.log(x);
                }
            });
        });
    });
</script>
{{>layouts/footer}}