{{>layouts/header}}
<div class="container starter-template" id="inputDiv">
    <h3>플레이어 목록</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nickname</th>
                <th scope="col">Position</th>
                <th scope="col">Top tier</th>
            </tr>
        </thead>
        <tbody id="playerList">
            {{#players}}
                <tr onclick="javascript:changeStatus({{id}});">
                    <td>
                        <input type="checkbox" name="player" value="{{id}}"
                               id="player{{id}}"
                        >
                    </td>
                    <td><span>{{playerName}}</span></td>
                    <td><span>{{position}}</span></td>
                    <td><span>{{tier}}</span></td>
                </tr>
            {{/players}}
        </tbody>
    </table>
    <div class="form-row" style="border: black solid 1px; paddi당ng: 5px; margin-bottom: 5px;">
        <!--<h5>팀 생성 조건 선택</h5>
        <div class="form-group col-md-2">
            <label for="conditionBattle">피튀기는 내전</label>
            <input type="radio" name="inputCondition" id="conditionBattle" value="battle">
        </div>
        <div class="form-group col-md-2">
            <label for="conditionFun">피안튀기는 내전</label>
            <input type="radio" name="inputCondition" id="conditionFun" value="condition" selected>
        </div>-->
    </div>
    <button class="btn btn-success" type="button" id="makeBtn">팀 만들기</button>
    <button class="btn btn-dark" type="button" id="insertBtn">플레이어 등록</button>
</div>
<div class="container starter-template" id="resultDiv">
    <div class="row">
        <div class="col-5" >
            <h4>Team A</h4>
            <ul id="teamA"></ul>
        </div>
        <div class="col-5">
            <h4>Team B</h4>
            <ul id="teamB">

            </ul>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-danger" id="resetBtn">초기화</button>
    </div>
</div>
<script >
    $(document).ready(function (){
        $("#resultDiv").hide();

        $("#resetBtn").on("click", function (){
            $("#resultDiv").hide();
            $("#teamA").empty();
            $("#teamB").empty();
            $("#inputDiv").show();
        });

        $("#makeBtn").on("click", function (){

            //TODO 선택 player 검증 및 데이터 만들기
            let data = [];

            if($("input:checkbox[name='player']:checked").length > 0){
                $("input:checkbox[name='player']:checked").each(function (index,element){
                    data.push(element.value);
                });
            }

            if(data.length == 0){
                alert("10명의 플레이어를 선택 해 주세요.");
                return;
            }

            $.ajax({
                url: "/maker/making",
                method: "post",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                success: function (result){
                    let aTotal = 0;
                    let bTotal = 0;

                    result.forEach(function (elem, index){
                       if(elem.team == 1){
                           $("#teamA").append("<li>"+elem.player.playerName+"("+elem.player.totalRating+")</li>");
                           aTotal += parseInt(elem.player.totalRating);
                       }else{
                           $("#teamB").append("<li>"+elem.player.playerName+"("+elem.player.totalRating+")</li>");
                           bTotal += parseInt(elem.player.totalRating);
                       }
                    });
                    $("#teamA").append("<span> 전체 점수 :"+aTotal+"</span>");
                    $("#teamB").append("<span> 전체 점수 :"+bTotal+"</span>");
                    $("#inputDiv").hide();
                    $("#resultDiv").show();
                },
                error: function (x){
                    console.log(x);
                }
            });
        });

        $("#insertBtn").on("click", function (){
            location.href="/maker/player/insert";
        });
    });

    function changeStatus(id){
        if($("#player"+id).is(":checked") == true){
            $("#player"+id).prop("checked", false);
        }else{
            $("#player"+id).prop("checked", true);
        }
    }
</script>
{{>layouts/footer}}