<div class="container starter-template">
    <div class="row">
        <div class="col-5">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
        <div class="col-5">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).ready(function (){

    });
</script>
