{{>layouts/header}}
<div class="starter-template">
    <div class="container-head-title">
        <h1>플레이어 등록</h1>
    </div>

    <div class="container">
        <div class="card">

            <div class="card-header">
                신규 플레이어 등록
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="inputName">이름</label>
                        <input type="text" class="form-control" id="inputName" placeholder="" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="inputNickName">닉네임</label>
                        <input type="text" class="form-control" id="inputNickName" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="inputMainPosition">메인 포지션</label>
                        <select class="form-control" name="inputMainPosition" id="inputMainPosition" required>
                            <option value="" disabled selected>포지션을 선택해 주세요.</option>
                            <option value="TOP">탑</option>
                            <option value="JNG">정글</option>
                            <option value="MID">미드</option>
                            <option value="AD">원딜</option>
                            <option value="SUP">서포터</option>
                            <option value="ALL">올라운더</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputMainTier">메인 포지션 티어</label>
                        <select class="form-control" name="inputMainTier" id="inputMainTier" required>
                            <option value="" disabled selected>티어를 선택해 주세요.</option>
                            <option value="IRON">아이언</option>
                            <option value="BRONZE">브론즈</option>
                            <option value="SILVER">실버</option>
                            <option value="GOLD">골드</option>
                            <option value="PLATINUM">플레티넘</option>
                            <option value="DIAMOND">다이아몬드</option>
                            <option value="MASTER">마스터</option>
                            <option value="GRANDMASTER">그랜드마스터</option>
                            <option value="CHALLENGER">챌린저</option>
                            <option value="SEMIPRO">준프로</option>
                            <option value="PRO">프로</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="inputSubPosition">서브 포지션</label>
                        <select class="form-control" name="inputSubPosition" id="inputSubPosition" required>
                            <option value="" disabled selected>포지션을 선택해 주세요.</option>
                            <option value="TOP">탑</option>
                            <option value="JNG">정글</option>
                            <option value="MID">미드</option>
                            <option value="AD">원딜</option>
                            <option value="SUP">서포터</option>
                            <option value="ALL">올라운더</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputSubTier">서브 포지션 티어</label>
                        <select class="form-control" name="inputSubTier" id="inputSubTier" required>
                            <option value="" disabled selected>티어를 선택해 주세요.</option>
                            <option value="IRON">아이언</option>
                            <option value="BRONZE">브론즈</option>
                            <option value="SILVER">실버</option>
                            <option value="GOLD">골드</option>
                            <option value="PLATINUM">플레티넘</option>
                            <option value="DIAMOND">다이아몬드</option>
                            <option value="MASTER">마스터</option>
                            <option value="GRANDMASTER">그랜드마스터</option>
                            <option value="CHALLENGER">챌린저</option>
                            <option value="SEMIPRO">준프로</option>
                            <option value="PRO">프로</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" id="playerInsertBtn"> 등록 </button>
                <button class="btn btn-dark" onclick="history.back();"> 취소 </button>
            </div>
        </div>
    </div>
</div>


<script src="/js/player.js"></script>
<script type="text/javascript">
    $(document).ready(function (){

    });
</script>

{{>layouts/footer}}