{{>layouts/header}}
<div class="container starter-template" id="inputDiv">
    <h3>플레이어 목록</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nickname</th>
            <th scope="col">Position_Main</th>
            <th scope="col">Position_Sub</th>
            <th scope="col">Top tier</th>
            <th scope="col">삭제</th>
        </tr>
        </thead>
        <tbody id="playerList">
        {{#players}}
            <tr onclick="javascript:changeStatus({{id}});">
                <td><input type="checkbox" name="player" value="{{id}}" id="player{{id}}"></td>
                <td><span>{{playerName}}</span></td>
                <td><span>{{positionMain}}</span></td>
                <td><span>{{positionSub}}</span></td>
                <td><span>{{tier}}</span></td>
                <td><button class="btn btn-danger" onclick="javascript:deletePlayer({{id}});">삭제</button></td>
            </tr>
        {{/players}}
        {{^players}}
            <tr>
                <td colspan="6"><span>등록된 플레이어가 없습니다. </span></td>
            </tr>
        {{/players}}
        </tbody>
    </table>
    <div class="form-row" style="border: black solid 1px; paddi당ng: 5px; margin-bottom: 5px;">
        <!--<h5>팀 생성 조건 선택</h5>
        <div class="form-group col-md-2">
            <label for="conditionBattle">피튀기는 내전</label>
            <input type="radio" name="inputCondition" id="conditionBattle" value="battle">
        </div>
        <div class="form-group col-md-2">
            <label for="conditionFun">피안튀기는 내전</label>
            <input type="radio" name="inputCondition" id="conditionFun" value="condition" selected>
        </div>-->
    </div>
    <button class="btn btn-success" type="button" id="makeBtn">팀 만들기</button>
    <button class="btn btn-dark" type="button" id="insertBtn">플레이어 등록</button>
</div>
<div class="container starter-template" id="resultDiv">
    <div class="row">
        <div class="col-5" >
            <h4>Team A</h4>
            <table class="table">
                <thead>
                <tr>
                    <td> Nickname </td>
                    <td> 평가점수 </td>
                </tr>
                </thead>
                <tbody id="teamA">

                </tbody>

            </table>
        </div>
        <div class="col-5">
            <h4>Team B</h4>
            <table class="table">
                <thead>
                <tr>
                    <td> Nickname </td>
                    <td> 평가점수 </td>
                </tr>
                </thead>
                <tbody id="teamB">

                </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-danger" id="resetBtn">초기화</button>
    </div>
</div>
<script >
    $(document).ready(function (){
        $("#resultDiv").hide();

        $("#resetBtn").on("click", function (){
            $("#resultDiv").hide();
            $("#teamA").empty();
            $("#teamB").empty();
            $("#inputDiv").show();
        });

        $("#makeBtn").on("click", function (){

            //TODO 선택 player 검증 및 데이터 만들기

        });

        $("#insertBtn").on("click", function (){
            location.href = "/v2/player/insert";
        });
    });

    function changeStatus(id){
        if($("#player"+id).is(":checked") == true){
            $("#player"+id).prop("checked", false);
        }else{
            $("#player"+id).prop("checked", true);
        }
    }

    function deletePlayer(id){

        $.ajax({
            url: "/v2/player/delete/"+id,
            method: "DELETE",
            success: function (result){
                alert("삭제 완료");
                location.reload();
            },
            error: function (x,h,r){
                alert("시스템 에러 발생");
                location.reload();
            }
        })

    }
</script>
{{>layouts/footer}}