{{>layouts/header}}
<div class="container starter-template">
    <h3>플레이어 등록</h3>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputName">이름</label>
                <input type="text" class="form-control" id="inputName">
            </div>
            <div class="form-group col-md-2">
                <label for="inputPositionMain">포지션</label>
                <select id="inputPositionMain" class="form-control">
                    <option selected>Choose...</option>
                    <option value="TOP">탑</option>
                    <option value="JUNGLE">정글</option>
                    <option value="APCARRY">미드</option>
                    <option value="ADCARRY">원딜</option>
                    <option value="SUPPORTER">서폿</option>
                    <option value="ALLROUNDER">올라운더</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPositionSub">포지션</label>
                <select id="inputPositionSub" class="form-control">
                    <option selected>Choose...</option>
                    <option value="TOP">탑</option>
                    <option value="JUNGLE">정글</option>
                    <option value="APCARRY">미드</option>
                    <option value="ADCARRY">원딜</option>
                    <option value="SUPPORTER">서폿</option>
                    <option value="ALLROUNDER">올라운더</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputTier">티어</label>
                <select id="inputTier" class="form-control">
                    <option selected>Choose...</option>
                    <option value="IRON">아이언</option>
                    <option value="BRONZE">브론즈</option>
                    <option value="SILVER">실버</option>
                    <option value="GOLD1">골드1</option>
                    <option value="GOLD2">골드2</option>
                    <option value="GOLD3">골드3</option>
                    <option value="GOLD4">골드4</option>
                    <option value="PLATINUM1">플래티넘1</option>
                    <option value="PLATINUM2">플래티넘2</option>
                    <option value="PLATINUM3">플래티넘3</option>
                    <option value="PLATINUM4">플래티넘4</option>
                    <option value="DIAMOND1">다이아몬드1</option>
                    <option value="DIAMOND2">다이아몬드2</option>
                    <option value="DIAMOND3">다이아몬드3</option>
                    <option value="DIAMOND4">다이아몬드4</option>
                </select>
            </div>
        </div>

    <button class="btn btn-success" type="button" id="insertBtn">등록</button>
    <button class="btn btn-danger" type="button" onclick="location.href='/maker/v2/player/list'">취소</button>
</div>
<script>
    $(document).ready(function() {

        $("#insertBtn").on("click", function () {
            let name = $("#inputName").val();
            let position_main = $("#inputPositionMain").val();
            let position_sub = $("#inputPositionSub").val();
            let tier = $("#inputTier").val();

            //TODO parameter validation
            if(positio_main == undefined || positio_main == null){
                alert("포지션을 선택해 주세요.");
                return;
            }

            if(positio_sub == undefined || positio_sub == null){
                alert("포지션을 선택해 주세요.");
                return;
            }

            if(tier == undefined || tier == null){
                alert("티어를 선택해 주세요.");
                return;
            }

            let player = {
                "playerName": name,
                "positionMain": position_main,
                "positionSub": position_sub,
                "tier": tier
            }

            $.ajax({
                url: "/maker/v2/player/insert",
                method: "post",
                contentType: "application/json;  charset=utf-8",
                data: JSON.stringify(player),
                success: function (result) {
                    if(result != null){
                        if(confirm("플레이어 등록 완료! 팀 생성 메뉴로 이동하시겠습니까?")){
                            location.href="/maker/v2/player/list";
                        }else{
                            location.reload();
                        }
                    }
                },
                error: function (x) {
                    console.log(x);
                    alert("시스템 에러 발생. 김종완에게 문의해 주세요.");
                    return;
                }
            });
        });
    });
</script>
{{>layouts/footer}}