{{>layouts/header}}

<div class="container starter-template" >
    <h3>플레이어 입력하고 시작하기</h3>
    <button class="btn btn-primary" onclick="location.href='/maker/player/insert'"> 시작 </button>
</div>

{{>layouts/footer}}