<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>리그오브레전드 팀 메이커 - 내전용</h1>
    <h3> <button type="button" onclick="location.href='/maker/player/insert'">시작하기</button> </h3>
</body>
</html>