{{>layouts/header}}

<div class="container starter-template" >
    <h3>플레이어 입력하고 시작하기</h3>
    <button class="btn btn-success" onclick="location.href='/maker/player/list'"> 팀 만들기 </button>
    <button class="btn btn-dark" onclick="location.href='/maker/player/insert'"> 플레이어 추가 </button>
</div>

{{>layouts/footer}}