{{>layouts/header}}
<div class="container starter-template" id="inputDiv">
    <h3>플레이어 목록</h3>
<form action="/maker/making" id="playerForm">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nickname</th>
                <th scope="col">Position</th>
                <th scope="col">Top tier</th>
            </tr>
        </thead>
        <tbody>
            {{#players}}
                <tr>
                    <th><input type="radio" name="" id=""></th>
                    <td><span>{{playerName}}</span></td>
                    <td><span>{{position}}</span></td>
                    <td><span>{{tier}}</span></td>
                </tr>
            {{/players}}
        </tbody>
    </table>
    <button type="button" id="makeBtn">팀 만들기</button>
    <button type="button" id="insertBtn">플레이어 등록</button>
</form>
</div>
<script type="application/javascript">
    $(document).ready(function (){
        $("#submitBtn").on("click", function (){
            let size = 10;
            let arrayList = new Array();
            for(let i = 1; i <= size; i++){
                let obj = {
                    playerName : $("#player"+i).find("[name=playerName]").val(),
                    position: $("#player"+i).find("[name=position]").val(),
                    tier: $("#player"+i).find("[name=tier]").val()
                }
                arrayList.push(obj);
            }

            $.ajax({
                url: "/maker/making",
                method: "post",
                contentType: "application/json; charset=utf-8",
                data:JSON.stringify(arrayList),
                dataType:"json",
                success: function (result){
                    console.log(result);

                    result.forEach (function (elem, index) {
                       if(elem.team == 0){
                           $("#teamA").append("<li>"+elem.player.playerName+" ("+elem.player.totalRating+")</li>");
                       } else{
                           $("#teamB").append("<li>"+elem.player.playerName+" ("+elem.player.totalRating+")</li>");
                       }
                    });
                },
                error: function (x){
                    console.log(x);
                }
            })
        });
    });
</script>
{{>layouts/footer}}